  body {
    font-family: sans-serif;
    color: black;
    background-color: #F5F5DC;
    margin: 0;
  }
  img {
    object-fit: contain;
    text-align: center;
  }
  .header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2;
    background-color: #32527c;
    color: #ffffff;
    text-align: left;
    width: 100%;
    top: 0;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding-left: 15px;
  } 
  .logo1 {
    margin-right: 15px;
  }
  .logo1 img {
    max-width: 60px; 
    display: block; 
  }
  .footer {
    background-color: #34495e;
    color: #ffffff;
    text-align: center;
    width: 100%;
    bottom: 0;
  }
  h2 {
    font-size: 24px; 
    margin-bottom: 20px; 
    position: relative;
    background-image: linear-gradient(to right, #000000, #cccccc); 
    background-repeat: no-repeat;
    background-position: 20px bottom; 
    background-size: calc(100% - 900px) 1px; 
  }
  .section h4 {
    margin-bottom: 2px; 
  }
  .section p {
    margin-top: 2px;
  }
  .title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 150px;
    color: #000000;
    text-align: left;
    font-size: 30px;
    background-image: linear-gradient(to right, #000000, #cccccc); 
    background-repeat: no-repeat;
    background-position: 150px bottom; 
    background-size: calc(100% - 500px) 1.5px; 
  }
  .section {
    text-indent: 25px;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 20px; 
    text-align: justify; 
    line-height: 2; 
    hyphens: auto; 
  }
  .index {
    width: 85%;
    padding: 25px;
    margin: auto;
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 20px;
  }

  .logo img {
    max-width: 150px; 
    display: block; 
  }
  .index a {
    color: black; 
    text-decoration: none; 
  }
  .index ul {
    list-style: none; 
    display: flex; 
    margin: 0; 
    padding: 0; 
  }
  .index li {
    position: relative;
    display: inline-block; 
    margin-right: 30px; 
    border-bottom: 2px solid transparent;
   padding-bottom: 5px;
  }
  .index li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(1); 
    transform-origin: left; 
    transition: transform 0.4s ease; 
  }
  .index li:hover::before {
    transform: scaleX(0); 
  }
  .slideInExample {
    width: 0;
   overflow: hidden;
    white-space: nowrap;
    transition: width 1s ease-in-out;
  }
  .slideInExample.show {
    width: 100%;
  }
