body {
    font-family: sans-serif;
    color: black;
    background-color: #e0f2f1;
    margin: 0;
    }
  .header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    padding-left: 15px;
    background-color: #32527c;
    color: #ffffff;
    text-align: left;
    width: 100%;
    top: 0;
    font-size: 15px;
  }
  .footer {
    background-color: #34495e;
    color: #ffffff;
    text-align: center;
    width: 100%;
    bottom: 0;
  }
  .title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 30px;
    color: #000000;
    text-align: left;
    font-size: 30px;
  }
  .section {
    width: 1400px;
    word-wrap: break-word;
    margin-left: 20px;
    text-indent: 20px;
    line-height: 1.5;
    padding: 0px;
    /*color: black;*/
  }
  .index {
    width: 85%;
    padding: 35px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
